@import "compass"
@import "compass/reset"

body
  width: 100%
  height: 100%
  background: #CCC
  font-size: 100%
  line-height: 140%
  color: #FFF
  font-family: 'Montserrat', sans-serif
  +background-image(radial-gradient(#DDD 0, #999 100%))

::-webkit-input-placeholder
  color: #CCC
::-moz-placeholder
  color: #CCC
::-ms-input-placeholder
  color: #CCC
::placeholder
  color: #CCC

form
  display: block
  position: fixed
  left: 50%
  top: 50%
  z-index: 9999
  width: 300px
  height: 360px
  margin: -180px -150px
  text-align: left
  transition: opacity 0.5s ease-in-out
.form-inner
  display: table-cell
  width: 300px
  height: 360px
  text-align: left
  vertical-align: middle
.form-hide
  opacity: 0
label
  display: inline-block
  margin-right: 0.5em
#form-url
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  width: 100%
  margin: 0
  padding: 0.5em 3em 0.5em 0.5em
  border: 0
  background: rgba(255,255,255,0.8)
  border-radius: 4px
  font-size: 1.125rem
  line-height: 140%
  font-family: 'Montserrat', sans-serif
  font-weight: bold
#form-url[disabled]
  color: #CCC
  background: rgba(255,255,255,0.6)
.form-msg
  display: inline-block
  font-size: 0.75rem
  line-height: 100%
  vertical-align: middle
.form-msg-err
  display: inline-block
  color: #F66
.form-msg-ok
  display: inline-block
  color: #399
.form-submit-wrapper
  position: relative
.form-button
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  display: inline-block
  position: absolute
  right: 0.1em
  top: 50%
  width: auto
  max-height: 39px
  margin-top: -1.1em
  padding: 0.6em 1em
  border: 0
  border-radius: 4px
  font-size: 1.1rem
  line-height: 140%
  font-family: 'Montserrat', sans-serif
  letter-spacing: 1px
  text-align: center
  cursor: pointer
.form-submit
  background: #399
  color: #FFF
.form-submit[disabled]
  background: #DDD
  color: #EEE
.form-stop
  background: #F66
  color: #FFF
.form-stop[disabled]
  background: #DDD
  color: #EEE
.form-spinner
  color: #399

.snowflake
  display: inline-block
  position: absolute
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif
  color: transparent//#FFF
.title
  padding: 0.5em
  font-style: 1.125rem
  line-height: 140%
  color: #EEE
.url
  text-transform: uppercase
  font-weight: bold
  color: #FFF
  letter-spacing: 1px

@media screen and (max-width:767px)
  .form-inner
    vertical-align: bottom

//